@media #{$xs}{
    .fs-xs-4{
        font-size: 4.4rem;
    }
    .fs-xs-3{
        font-size: 3.3rem;
    }
    .fs-xs-2{
        font-size: 2.4rem;
    }
    .fs-xs-1{
        font-size: 1.25rem;
    }
    .fs-xs-0{
        font-size:1rem;
    }




}
@media #{$sm}{
    .fs-sm-4{
        font-size: 4.4rem;
    }
    .fs-sm-3{
        font-size: 3.3rem;
    }
    .fs-sm-2{
        font-size: 2.4rem;
    }
    .fs-sm-1{
        font-size: 1.25rem;
    }
    .fs-sm-0{
        font-size:1rem;
    }

}
@media #{$md}{
    .fs-md-4{
        font-size: 4.4rem;
    }
    .fs-md-3{
        font-size: 3.3rem;
    }
    .fs-md-2{
        font-size: 2.4rem;
    }
    .fs-md-1{
        font-size: 1.25rem;
    }
    .fs-md-0{
        font-size:1rem;
    }

}
@media #{$lg}{
    .fs-lg-4{
        font-size: 4.4rem;
    }
    .fs-lg-3{
        font-size: 3.3rem;
    }
    .fs-lg-2{
        font-size: 2.4rem;
    }
    .fs-lg-1{
        font-size: 1.25rem;
    }
    .fs-lg-0{
        font-size:1rem;
    }

}
@media #{$xl}{
    .fs-xl-4{
        font-size: 4.4rem;
    }
    .fs-xl-3{
        font-size: 3.3rem;
    }
    .fs-xl-2{
        font-size: 2.4rem;
    }
    .fs-xl-1{
        font-size: 1.25rem;
    }
    .fs-xl-0{
        font-size:1rem;
    }

}